[submodule "plugins/migrations"]
	path = plugins/migrations
	url = git://github.com/CakeDC/migrations.git
[submodule "plugins/search"]
	path = plugins/search
	url = git://github.com/CakeDC/search.git
[submodule "Plugin/Migrations"]
	path = Plugin/Migrations
	url = git://github.com/CakeDC/migrations.git
[submodule "Plugin/Search"]
	path = Plugin/Search
	url = git://github.com/CakeDC/search.git
